<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cookie Profiler Demo</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/index.js"></script>
  </head>
  <body>
    <h1>
        ファイルをアップロードして判定しよう
    </h1>
    <form id="upload_form" enctype="multipart/form-data">
        <input type=file name="csv_file">
        <button type="button" onclick="upload()">送信</button>
    </form>
    <div id="result_div">
        <h3>Result:</h3>
        <h3 id="result"></h3>
    </div>
  </body>
</html>