<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cookie Profiler Demo</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/index.js"></script>
  </head>
  <body>
    <h1>
        ファイルをアップロードして判定
    </h1>
    <form id="upload_form" enctype="multipart/form-data">
        <input type=file name="csv_file">
        <button type="button" onclick="upload()">送信</button>
    </form>
    <div id="result_div">
        <h3>結果:</h3>
        <h3 id="result"></h3>
        <h4>性別割合</h4>
        <h5>-男性割合:</h5>
        <h5 id="male"></h5>
        <h5>-女性割合:</h5>
        <h5 id="female"></h5>
        <h4>pincome</h4>
        <h5 id="pincome"></h5>
        <h4>hincome</h4>
        <h5 id="hincome"></h5>
        <h4>area</h4>
        <h5 id="area"></h5>
        <h4>married</h4>
        <h5 id="married"></h5>
        <h4>child</h4>
        <h5 id="child"></h5>
        <h4>prefecture</h4>
        <h5 id="prefecture"></h5>
        <h4>job</h4>
        <h5 id="job"></h5>
        <h4>student</h4>
        <h5 id="student"></h5>
        <h4>age</h4>
        <h5 id="age"></h5>
    </div>
  </body>
</html>