<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DMP Profiler Demo</title>
    <link rel="shortcut icon" href="{{url_for('cprofiler.static', filename='favicon.ico')}}" type="image/x-icon">
    <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->
    <link rel="stylesheet" type="text/css" href="static/login.css">
    <script>
      $("#login-button").click(function(event){
                event.preventDefault();
            
            $('form').fadeOut(500);
            $('.wrapper').addClass('form-success');
        });
    </script>
  </head>
  <body>
    <div class="wrapper">
        <div class="container">
            <h1>Welcome to DMP Profiler</h1>
            
            <form class="form">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <button type="submit" id="login-button">Login</button>
            </form>
        </div>
        
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
  </body>
</html>

<div class="wrapper">
    <div class="container">
        <h1>Welcome to DMP Profiler</h1>
        
        <form class="form">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <button type="submit" id="login-button">Login</button>
        </form>
    </div>
    
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>